body{
    background-image: url('background.gif') ;
    background-size: cover ;
    background-repeat: no-repeat;
    max-width: fit-content;
}
.video{
    color: white;
    position: relative;
    top: 20px;
    left: 910px;
   
}



